// Checkbox

.checkbox {
  position: relative;
  display: inline-block;
}

input[type=checkbox].input-checkbox {
  opacity: 0;
  float: left;
}

input[type=checkbox].input-checkbox + .input-label {
  margin: 0 10px 0 20px;
  position: relative;
  cursor: pointer;
}

input[type=checkbox].input-checkbox + .input-label ~ .input-label {
  margin: 0 0 0 40px;
}

input[type=checkbox].input-checkbox + .input-label:before {
  content: ' ';
  position: absolute;
  left: -30px;
  top: -5px;
  width: 24px;
  height: 24px;
  display: block;
  background: white;
  border-radius: $global-radius;
  border: 2px solid $global-border;
}

input[type=checkbox].input-checkbox + .input-label:after {
  content:' ';
  position: absolute;
  left: -30px;
  top: -5px;
  width: 23px;
  height: 23px;
  display: block;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMuNDM5IDEuMDljLjQxNC0uMzY3IDEuMDU5LS4zMjggMS40MzEuMDc2bC40MTMuNDQ4Yy4zNzcuNDA5LjM2IDEuMDM3LS4wNDggMS40MTNsLTguOTI1IDguMjE3Yy0uNDAzLjM3MS0xLjAzNi4zNDctMS40MTItLjA1NGwtMy43NzMtNC4wMThjLS4zNzctLjQwMS0uMzcyLTEuMDYyIDAtMS40NjdsLjQxMy0uNDQ4Yy4zNzctLjQwOS45OTMtLjQxMyAxLjM3LS4wMTVsMi42NzEgMi44MTYgNy44NTgtNi45Njl6IiBmaWxsPSIjN0FCMjNEIi8+PC9zdmc+') no-repeat center center;
  transition: all .3s ease;
  transform: scale(0);
  opacity: 0;
}

input[type=checkbox].input-checkbox:checked + .input-label:after {
  transform: scale(1);
  opacity: 1;
}
