.input-row {
  margin-bottom: $global-spacer;
}

// Layouting

.input-items {
  display: flex;
  align-items: center;
}

.input__item {
  margin: $global-spacer / 2;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

// Label

.input-label {
  font-weight: $font-weight-bold;
  font-size: $global-font-size * 0.7;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  .form-stacked & {
    display: block;
  }
}

// Input

.input-control {
  background: #fff;
  padding: $form-padding;
  border-radius: $global-radius;
  border: 2px solid $form-border-color;

  display: inline-block;
  .form-stacked & {
    width: 100%;
  }
  &:focus {
    outline: 0;
    border: 2px solid $color-focus;
  }
  &--error {
    border: 2px solid $color-error;
  }
  &--success {
    border: 2px solid $color-success;
  }
}

// Infield

.infield-input-control {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  .input-control {
    padding-top: 30px;
  }
  .input-label {
    position: absolute;
    top: $form-padding - 0.25rem;
    left: $form-padding + 0.15rem;
    z-index: 2;
  }
  .input-select {
    padding-top: 14px;
  }
}

// Checkbox

.checkbox {
  position: relative;
  display: inline-block;
}

input[type=checkbox].input-checkbox {
  opacity: 0;
  float: left;
}

input[type=checkbox].input-checkbox + .input-label {
  margin: 0 10px 0 20px;
  position: relative;
  cursor: pointer;
}

input[type=checkbox].input-checkbox + .input-label ~ .input-label {
  margin: 0 0 0 40px;
}

input[type=checkbox].input-checkbox + .input-label:before {
  content: ' ';
  position: absolute;
  left: -30px;
  top: -5px;
  width: 24px;
  height: 24px;
  display: block;
  background: white;
  border-radius: $global-radius;
  border: 2px solid $global-border;
}

input[type=checkbox].input-checkbox + .input-label:after {
  content:' ';
  position: absolute;
  left: -30px;
  top: -5px;
  width: 23px;
  height: 23px;
  display: block;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMuNDM5IDEuMDljLjQxNC0uMzY3IDEuMDU5LS4zMjggMS40MzEuMDc2bC40MTMuNDQ4Yy4zNzcuNDA5LjM2IDEuMDM3LS4wNDggMS40MTNsLTguOTI1IDguMjE3Yy0uNDAzLjM3MS0xLjAzNi4zNDctMS40MTItLjA1NGwtMy43NzMtNC4wMThjLS4zNzctLjQwMS0uMzcyLTEuMDYyIDAtMS40NjdsLjQxMy0uNDQ4Yy4zNzctLjQwOS45OTMtLjQxMyAxLjM3LS4wMTVsMi42NzEgMi44MTYgNy44NTgtNi45Njl6IiBmaWxsPSIjN0FCMjNEIi8+PC9zdmc+') no-repeat center center;
  transition: all .3s ease;
  transform: scale(0);
  opacity: 0;
}

input[type=checkbox].input-checkbox:checked + .input-label:after {
  transform: scale(1);
  opacity: 1;
}

// Radio

.radio {
  position: relative;
  display: inline-block;
}

input[type=radio].input-radio {
  opacity: 0;
  float: left;
}

input[type=radio].input-radio + .input-label {
  margin: 0 10px 0 20px;
  position: relative;
  cursor: pointer;
}

input[type=radio].input-radio + .input-label ~ .input-label {
  margin: 0 0 0 40px;
}

input[type=radio].input-radio + .input-label::before {
  content: ' ';
  position: absolute;
  left: -30px;
  top: -5px;
  width: 24px;
  height: 24px;
  display: block;
  background: white;
  border: 2px solid $global-border;
}

input[type=radio].input-radio + .input-label::after {
  content: ' ';
  position: absolute;
  left: -30px;
  top: -5px;
  width: 12px;
  height: 12px;
  margin: 6px;
  display: block;
  z-index: 1;
  background: $color-focus;
  transition: all .3s ease;
  transform: scale(0);
  opacity: 0;
}

input[type=radio].input-radio:checked + .input-label::after {
  transform: scale(1);
  opacity: 1;
}

// On off

.onoffswitch {
    position: relative;
    width: 54px;
    -webkit-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow:
    hidden;
    cursor: pointer;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 28px;
    font-size: 14px;
    color: white;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: $color-success;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: darken($color-grey,10%);
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 28px;
    margin: -2px;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 28px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

// Input range

input[type=range].input-range {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  margin: 5.5px 0;
  padding: 0;
}
input[type=range].input-range:focus {
  outline: none;
}
input[type=range].input-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: $color-grey;
  border-radius: $global-radius;
  border: 0px solid $color-grey;
}
input[type=range].input-range::-webkit-slider-thumb {
  border: 4px solid #ffffff;
  height: 24px;
  width: 24px;
  background: $color-focus;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
  box-sizing: border-box;
}
input[type=range].input-range:focus::-webkit-slider-runnable-track {
  background: #eeeeee;
}
input[type=range].input-range::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #e4e4e4;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range].input-range::-moz-range-thumb {
  border: 4px solid #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 16px;
  background: $color-focus;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
  box-sizing: border-box;
}
input[type=range].input-range::-ms-track {
  width: 100%;
  height: 9px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].input-range::-ms-fill-lower {
  background: #e4e4e4;
  border: 0px solid #010101;
  border-radius: 12px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].input-range::-ms-fill-upper {
  background: #e4e4e4;
  border: 0px solid #010101;
  border-radius: 12px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].input-range::-ms-thumb {
  border: 4px solid #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 16px;
  background: $color-focus;
  cursor: pointer;
  margin-top: 0;
  box-sizing: border-box;
}
input[type=range].input-range:focus::-ms-fill-lower {
  background: #eeeeee;
}
input[type=range].input-range:focus::-ms-fill-upper {
  background: #eeeeee;
}

// Select

.input-select {
  border-radius: $global-radius;
  background-color: #fff;
  border: 2px solid $global-border;
  position: relative;
  display: inline-block;
  &:after,
  &::after,
  select {
    background-color: #fff;
  }
}

.input-select select,
.input-select:after,
.input-select::after {
  display: inline-block;
}

.input-select select,
.input-select option {
  vertical-align: middle;
  padding: $global-padding;
}

.input-select::after {
  background-image: url(/img/arrow-down.svg);
  background-position: left center;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 40px;
  text-align: center;
  pointer-events: none;
  border-radius: $global-radius;
}

.input-select select {
  border: 0;
  vertical-align: middle;
  outline: 0 none;
  padding-right: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  border-radius: $global-radius;
  &::-ms-expand {
    visibility: hidden;
    height: 40px;
    width: 0;
  }
}

.input-select option {
  border: 0;
  background: #fff;
  color: #333;
  outline: none;
}
