.input-row {
  margin-bottom: $global-spacer;
}

// Layouting

.input-items {
  display: flex;
  align-items: center;
}

.input__item {
  margin: $global-spacer / 2;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

// Label

.input-label {
  font-weight: $font-weight-bold;
  font-size: $global-font-size * 0.7;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  .form-stacked & {
    display: block;
  }
}

// Input

.input-control {
  background: #fff;
  padding: $form-padding;
  border-radius: $global-radius;
  border: 2px solid $form-border-color;

  display: inline-block;
  .form-stacked & {
    width: 100%;
  }
  &:focus {
    outline: 0;
    border: 2px solid $color-focus;
  }
  &--error {
    border: 2px solid $color-error;
  }
  &--success {
    border: 2px solid $color-success;
  }
}

// Infield

.infield-input-control {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  .input-control {
    padding-top: 30px;
  }
  .input-label {
    position: absolute;
    top: $form-padding - 0.25rem;
    left: $form-padding + 0.15rem;
    z-index: 2;
  }
  .input-select {
    padding-top: 14px;
  }
}
