// On off

.onoffswitch {
  position: relative;
  width: 54px;
  -webkit-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow:
  hidden;
  cursor: pointer;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 28px;
  font-size: 14px;
  color: white;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: $color-success;
  color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: darken($color-grey,10%);
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 28px;
  margin: -2px;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 28px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
