@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

body {
  @include responsive-font(3vw, rem-calc(map-deep-get($fontSizes, "default", min)), rem-calc(map-deep-get($fontSizes, "default", max)));
  font-family: $font-family;
  line-height: $line-height;
}

p {
  margin-bottom:0.8rem;
}

.text-giga {
  @include responsive-font(3vw, rem-calc(map-deep-get($fontSizes, "giga", min)), rem-calc(map-deep-get($fontSizes, "giga", max)));
}

h1,
.h1 {
  @include responsive-font(3vw, rem-calc(map-deep-get($fontSizes, "h1", min)), rem-calc(map-deep-get($fontSizes, "h1", max)));
}

h2,
.h2 {
  @include responsive-font(3vw, rem-calc(map-deep-get($fontSizes, "h2", min)), rem-calc(map-deep-get($fontSizes, "h2", max)));
}

h3,
.h3 {
  @include responsive-font(3vw, rem-calc(map-deep-get($fontSizes, "h3", min)), rem-calc(map-deep-get($fontSizes, "h3", max)));
}

h4,
.h4 {
  @include responsive-font(3vw, rem-calc(map-deep-get($fontSizes, "h4", min)), rem-calc(map-deep-get($fontSizes, "h4", max)));
}

.text-small {
  @include responsive-font(3vw, rem-calc(map-deep-get($fontSizes, "small", min)), rem-calc(map-deep-get($fontSizes, "small", max)));
}

.text-lead {
  @include responsive-font(3vw, rem-calc(map-deep-get($fontSizes, "lead", min)), rem-calc(map-deep-get($fontSizes, "lead", max)));
}

.text-bold {
  font-weight: $font-weight-bold;
}

.text-focus {
  color: $color-focus;
}

.text-success {
  color: $color-success;
}

.text-error {
  color: $color-error;
}

.h1,
.h2,
.h3,
.h4 {
  margin: 0;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
}
