extends layout

block content

  .container
    .row
      .col-xs-6
        h1=data.site.title
        p=data.site.description
        .btn-primary Test
        input(type="text" class="input-control")
        
      .col-xs-6
        .card
          figure.card__image
            img(src="https://unsplash.it/600/300").img-fluid
          .card__content
            h2 Card heading
            p card content
