// Position state

.#{$utility-prefix}relative { position: relative }
.#{$utility-prefix}absolute { position: absolute }
.#{$utility-prefix}fixed    { position: fixed }

// Display

.#{$utility-prefix}display-inline       { display: inline }
.#{$utility-prefix}display-block        { display: block }
.#{$utility-prefix}display-inline-block { display: inline-block }
.#{$utility-prefix}display-table        { display: table }
.#{$utility-prefix}display-table-cell   { display: table-cell }

.#{$utility-prefix}overflow-hidden { overflow: hidden }
.#{$utility-prefix}overflow-scroll { overflow: scroll }
.#{$utility-prefix}overflow-auto   { overflow: auto }

.#{$utility-prefix}clearfix:before,
.#{$utility-prefix}clearfix:after {
  content: " ";
  display: table
}
.#{$utility-prefix}clearfix:after { clear: both }

.#{$utility-prefix}float-left  { float: left }
.#{$utility-prefix}float-right { float: right }

.#{$utility-prefix}fit { max-width: 100% }

// Flexbox

.#{$utility-prefix}flex-column  { flex-direction: column }
.#{$utility-prefix}flex-wrap    { flex-wrap: wrap }

.#{$utility-prefix}items-start    { align-items: flex-start }
.#{$utility-prefix}items-end      { align-items: flex-end }
.#{$utility-prefix}items-center   { align-items: center }
.#{$utility-prefix}items-baseline { align-items: baseline }
.#{$utility-prefix}items-stretch  { align-items: stretch }

.#{$utility-prefix}self-start    { align-self: flex-start }
.#{$utility-prefix}self-end      { align-self: flex-end }
.#{$utility-prefix}self-center   { align-self: center }
.#{$utility-prefix}self-baseline { align-self: baseline }
.#{$utility-prefix}self-stretch  { align-self: stretch }

.#{$utility-prefix}justify-start   { justify-content: flex-start }
.#{$utility-prefix}justify-end     { justify-content: flex-end }
.#{$utility-prefix}justify-center  { justify-content: center }
.#{$utility-prefix}justify-between { justify-content: space-between }
.#{$utility-prefix}justify-around  { justify-content: space-around }

.#{$utility-prefix}content-start   { align-content: flex-start }
.#{$utility-prefix}content-end     { align-content: flex-end }
.#{$utility-prefix}content-center  { align-content: center }
.#{$utility-prefix}content-between { align-content: space-between }
.#{$utility-prefix}content-around  { align-content: space-around }
.#{$utility-prefix}content-stretch { align-content: stretch }

.#{$utility-prefix}flex-auto {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}
.#{$utility-prefix}flex-none { flex: none }

.#{$utility-prefix}order-0 { order: 0 }
.#{$utility-prefix}order-1 { order: 1 }
.#{$utility-prefix}order-2 { order: 2 }
.#{$utility-prefix}order-3 { order: 3 }
.#{$utility-prefix}order-last { order: 99999 }

// Typography

.#{$utility-prefix}font-family-inherit { font-family: inherit }
.#{$utility-prefix}font-size-inherit { font-size: inherit }
.#{$utility-prefix}text-decoration-none { text-decoration: none }

.#{$utility-prefix}bold    { font-weight: $font-weight-bold; }
.#{$utility-prefix}regular { font-weight: normal }
.#{$utility-prefix}italic  { font-style: italic }
.#{$utility-prefix}caps    { text-transform: uppercase; }

.#{$utility-prefix}left-align   { text-align: left }
.#{$utility-prefix}center       { text-align: center }
.#{$utility-prefix}right-align  { text-align: right }
.#{$utility-prefix}justify      { text-align: justify }

.#{$utility-prefix}nowrap { white-space: nowrap }
.#{$utility-prefix}break-word { word-wrap: break-word }

.#{$utility-prefix}list-style-none { list-style: none }
.#{$utility-prefix}underline { text-decoration: underline }

.#{$utility-prefix}truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.#{$utility-prefix}list-reset {
  list-style: none;
  padding-left: 0;
}

.#{$utility-prefix}img-fluid {
  max-width: 100%;
  height: auto;
}

.#{$utility-prefix}img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}
