// Default

$rem-base: 1rem;

$font-size: $rem-base;
$line-height: 1.5;
$font-family: "helvetica", arial, sans-serif;
$heading-font-family: $font-family;

$border-radius: 3px;
$box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
$spacer: 1rem;

// Colors

$color-primary: #bed;

// Typography

// Layout

$container-width: 880px;
